// Primary Colors
//AlarmPage
$light-green: #bbded6;
//EmergencyPage
$light-beige: #fae3d9;
//1:1Page
$light-salmon: #ffc7c7;

$light-teal: #e3fdfd;

$black-text: #393e46;
// Secondary Colors
