.alarm {
  &__current-time {
    padding: 1rem 1rem;
  }
  padding: 1rem;
  background-color: white;
  border: 10px solid lightgreen;
  &__current-time {
    margin: 0;
  }
  label {
    padding: 1rem;
  }
  &__button {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(132, 166, 20);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #2980b9;
    }
  }
}
